In [1]:
str1=input()
print('Hello Deepak:', str1)

23123
Hello Deepak: 23123

In [2]:
a= 10
b = 12

print("sum of a + b = ",a+b )

sum of a + b =  22

In [3]:
str2=input()

2312

In [4]:
print('please enter a number', end = ' ')
x=int(input())
print('the entered number is', x)
print('Type of x is:', end = ' ')
print(type(x))

please enter a number 1323
the entered number is 1323
Type of x is: <class 'int'>

In [5]:
try:
    Num1=int(input('please enter a number here:'))
except ValueError as e:
    print(e)

please enter a number here:1232

In [6]:
print('length of rectangle:', end = ' ')
length = int(input())

length of rectangle: 312312

In [12]:
x=eval(input())
print('type of x is:', end = ' ')
print(type(x))

True
type of x is: <class 'bool'>

In [25]:
b=1313.2331313
print(b)
format(b, '.2f')

1313.2331313

'1313.23'

In [31]:
print(format("hello world", '25s'))

hello world

In [46]:
print(format(0.312, '1.2%'))

31.20%

In [52]:
p, q, r = eval(input('enter three numbers:'))
print('p=', p, 'q=', q, 'r=', r)
print('(p>q>r) is ', p>q>r)
print('(p<q<r) is',p<q<r)
print('(p<q) and (q<r) is ', (p<q) and (q<r))
print('(p<q) or (q<r) is', (p<q) or (Q<r))

enter three numbers:23,87,12
p= 23 q= 87 r= 12
(p>q>r) is  False
(p<q<r) is False
(p<q) and (q<r) is  False
(p<q) or (q<r) is True

In [71]:
try:
    x=eval(input())
    y=eval(input())
    
    if x-y==0:
        print("Both number are equal", 'x=',x,'y= ,', y)
    elif x-y!=0:
        print("Both number are not same,", 'x=',x,'y= ,', y)
    else:
        print("the difference of these two numbers is:", x-y)
except Exception as e:
    print(e)

12
12
Both number are equal x= 12 y= , 12

In [80]:
n=int(input())

if n>0:
    print(n*n)
elif n==0:
    print("not possible",  n)

0
not possible 0

In [82]:
n1=int(input('enter the first number:'))
n2=int(input('enter the second number:'))

if n1>n2:
    print(n1,'is greater than', n2)
else:
    print(n2, 'is greater than', n1)

enter the first number:12
enter the second number:14
14 is greater than 12

In [10]:
n1=int(input('please enter number one:'))
n2=int(input('please enter number two:'))
n3=int(input('please enter number three:'))

try:
    if n1>n2:
        if n2>n3:
            print(n1, 'is greater than', n2, 'and', n3)
    elif n1<n2 or n2>n3:
            print(n1, 'is lesser than', n2, 'and' , n2, 'is greater than', n3 )
    else:
            print(n1,'is less than', n2, 'and', n3)
    
        
except Exception as e:
    print(e)

please enter number one:1
please enter number two:2
please enter number three:3
1 is lesser than 2 and 2 is greater than 3

In [15]:
x=int(input())
y=int(input())


if x==y:
    print('x is equal to y')
elif x>y:
    print('x is greater than y')
else:
    print('x is smaller than y')

2
2
x is equal to y

In [17]:
day = int(input('Enter the day of the week:'))


if day==1:
    print('its monday')
elif day==2:
      print('its tuesday')
elif day==3:
     print('its wednesday')
elif day==4:
     print('its thursday')
elif day==5:
      print('its friday')
elif day==6:
     print('its saturday')
elif day==7:
     print('its sunday')
else:
    print('sorry! weeks contains only 7 days')

Enter the day of the week:7
its sunday

Write a program to find the smaller number among the two number:

In [22]:
n1 = int(input('enter the first number:'))
n2 = int(input('enter the second number:'))

if n1<n2:
    min=n1
    print('min=', min)
else:
    min=n2
    print('min =', min)

enter the first number:212
enter the second number:123
min = 123

Finding the number of days in a month?

In [25]:
print('this program will print number of days in a month')

flag=1  #assumes that user enters valid input

#Get month from user
month = (int(input('Enter the month (1-12):')))

#check if the entered month is 2 (i.e Feb)

if month ==2:
    year=int(input('Enter Year:'))
    
    if ((year / 4) ==0) and ((year/100) !=0) or ((year/400)==0):
        num_days=29
    
    else:
        num_days=29
        
#if entered month is Jan, Mar, May, July, August, October, December

elif month in (1,3,5,7,8,10,12):
    num_days=31
    
#if entered month is April, June, September, November

elif month in (4, 6, 9, 11):
    num_days=30
    
else:
    print('please enter valid month')
    flag=0
    
#Finally print number of days

if flag==1:
    print('There are', num_days,'days in the', month, 'month of the year')

this program will print number of days in a month
Enter the month (1-12):14
please enter valid month

In [27]:
x=0
y=0

if x>y:
    y=y+1
else:
    if x<0:
        y=y+2
    else:
        y=y+5
print('Y=', y)

Y= 5

In [29]:
i=10
j=20
k=30

if j>k:
    if i>j:
        num=i
    else:
        num=j
else:
    if i>k:
        num=i
    else:
        num=k
print('Num =', num)

Num = 30

In [30]:
weight = 10

if weight >=55:
    print("the person is eligible for blood donation")
if weight<55:
    print('the person is not eligible for blood donation')

the person is not eligible for blood donation

In [31]:
weight = 10

if weight >=55:
    print("the person is eligible for blood donation")
else:
    print('the person is not eligible for blood donation')

the person is not eligible for blood donation

In [36]:
if (5<1)and (10<1):
    print('Hello')
elif (20>100) or False:
    print('Hii')
else:
    print('Bye')

Bye

In [1]:
temp=int(input('enter the temp:'))

if temp>=50:
    print('Hot temp', temp)
else:
    print('temp is cold')

enter the temp:76
Hot temp 76

# Look Control Statements

while test-condition:
    #Loop Body
    statements (s)

Write a program to print the numbers from one to five using the WHILE LOOP

In [12]:
count = 0 #initialize the counter

while count<=5:
    print('Count =', count)
    count = count + 1

Count = 0
Count = 1
Count = 2
Count = 3
Count = 4
Count = 5

Write a program to add 10 consecutive numbers starting from 1 using the while loop.

In [2]:
count = 0
sum = 0

while count<=10:
    sum = sum + count
    count = count + 1
print('sum of first 10 numbers =', sum)

sum of first 10 numbers = 55

Write a program to find the sum of the digits of a given number

In [14]:
num=int(input('Enter a number:'))
x=num

sum=0
rem=0

while num>0:
    rem=num % 10
    num = num//10
    sum = sum + rem

print("Sum of the digits of an entered number", x," is =", sum)

Enter a number:12345
Sum of the digits of an entered number 12345  is = 15

In [10]:
12345%10

5

In [15]:
12345//10

1234

In [16]:
1234%10

4

In [17]:
1234//10

123

In [18]:
123%10

3

In [19]:
123//10

12

In [20]:
12%10

2

In [21]:
12//10

1

In [22]:
1%10

1

In [23]:
1//10

0

Write a program to display the reverse of the number entered

In [26]:
num=int(input('enter the number:'))
x=num

rev=0

while num>0:
    rem=num%10
    num=num//10
    rev=rev*10+rem
print("the number entered is", x, 'whose reverse is', rev)

enter the number:1234
the number entered is 1234 whose reverse is 4321

Write a program to print the sum of numbers from 1 to 20, that are divisible by 5 using the while loop

In [3]:
count=1
sum = 0

while count<=20:
    if count%5==0:
        sum=sum+count
    count=count+1
print('sum:', sum)

sum: 50

Write a program to print factorial of a number

In [1]:
num=int(input('Enter the number:'))
fact=1
ans=1

while fact<=num:
    ans=ans*fact
    fact=fact+1
    
print('factorial of',num, 'is:', ans)

Enter the number:6
factorial of 6 is: 720

Write a program to check whether the number entered is an Armstrong number or not

    153 = 1^3 + 2^3 + 3^3

In [9]:
num=int(input())
sum=0
x=num

while num>0:
    d=num%10
    num=num//10
    sum=sum + (d*d*d)
if (x==sum):
    print("the number", x, "is armstrong number")
else:
    print('the number', x, 'is not armstrong number')

153
the number 153 is armstrong number

In [10]:
153%10

3

In [11]:
153//10

15

In [12]:
3*3*3

27

In [18]:
15%10

5

In [14]:
15//10

1

In [21]:
27 + (5*5*5)

152

In [22]:
1%10

1

In [23]:
1//10

0

In [25]:
152 + (1*1*1)

153

# THE range() FUNCTION

In [26]:
range(6)

range(0, 6)

In [27]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [28]:
range(0, 20, 5)

range(0, 20, 5)

In [29]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
list(range(-5,5, -1))

[]

# FOR LOOP

In [38]:
# Use the loop to print numbers from 1 to 5

for i in range(1,6,2):
    print(i)
print('end of the program')

1
3
5
end of the program

In [40]:
print('the capital letters A to Z are as follows:')

for i in range(65, 91, 1):
    print(chr(i), end=' ')

the capital letters A to Z are as follows:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

use loop to print numbers from 1 to 10 in reverse order

In [50]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Write a program to print squares of the first five numbers

In [57]:
l=[]
for i in range(1,6):
    l.append(i*i)
l

[1, 4, 9, 16, 25]

Write a program to print even numbers from 0 to 10 and find their sum

In [74]:
sum=0

for i in range(0,11):
    if i%2==0:
        print(i)
        sum=sum+i
print('sum of even numbers:', sum)

0
2
4
6
8
10
sum of even numbers: 30

Write a program to calculate the sum of numbers from 1 to 20 which are not divisble 2, 3, or 5

In [7]:
sum=0
list=[]

for i in range(1,20):
    if i%2==0 or i%3==0 or i%5==0:
        print("")
    else:
        list.append(i)
        sum=sum+i
print(list)       
print('sum of such numbers:', sum)

[1, 7, 11, 13, 17, 19]
sum of such numbers: 68

Write a program that prompts a user to enter four numbers and find the greatest number among the four numbers entered

In [11]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())

sum=n1+n1+n3+n4

for i in range(sum):
     if i==n1 or i==n2 or i==3 or i==4:
            Large=i
print('largest number:', Large)



#print('the max of these numbers is:', max(n1,n2,n3,n4))

1
2
3
4
largest number: 4

In [12]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())

sum=n1+n1+n3+n4


range(sum)

1
2
3
4

range(0, 9)

Write a program to generate a triangular number

In [6]:
num=int(input())
x=num

T_num=0

for i in list(range(x, 0 , -1)):
    T_num=T_num+ i
print('triangular', num, 'is', T_num)

5
triangular 5 is 15

In [3]:
list(range(5, 0 , -1))

[5, 4, 3, 2, 1]

Write a program to print Fibonacci series upp to 8

In [8]:
f1=int(input())
f2=int(input())
f3=int(input('no of Fibonacci numbers to be printed:'))

for i in range(f3+1):
    sum=f1+f2
    f1=f2
    f2=sum
    print(sum, end=' ')

0
1
no of Fibonacci numbers to be printed:8
1 2 3 5 8 13 21 34 55

# Nested Loops

The FOR LOOP and WHILE LOOP statements can be nested in the same manner in which the IF statement are nested. 

LOOPS within the LOOPS or when one LOOP in inserted completely within another LOOP then it is called Nested LOOP

In [2]:
for i in range(1,4,1):
    for j in range(1,4,1):
        print("i=", i, "j=", j, 'i + j=', i+j)
print("End of program")

i= 1 j= 1 i + j= 2
i= 1 j= 2 i + j= 3
i= 1 j= 3 i + j= 4
i= 2 j= 1 i + j= 3
i= 2 j= 2 i + j= 4
i= 2 j= 3 i + j= 5
i= 3 j= 1 i + j= 4
i= 3 j= 2 i + j= 5
i= 3 j= 3 i + j= 6
End of program

Write a table to show multiplication tables from 1 to 5

In [7]:
for i in range(1,11,1):
    for j in range(1,6,1):
        print(format(i*j, '4d'), end = ' ')
    print()
print("End of Program")

   1    2    3    4    5
   2    4    6    8   10
   3    6    9   12   15
   4    8   12   16   20
   5   10   15   20   25
   6   12   18   24   30
   7   14   21   28   35
   8   16   24   32   40
   9   18   27   36   45
  10   20   30   40   50
End of Program

Write a program to display the pattern of stars given as follows:

In [52]:
print('star patters display')
num=7
x=num

for i in range(1,6,1):
    num=num - 1;
    for j in range(1,num, 1):
            print(' * ', end = " ")
            x=num-1
    print()
print('end of program')

star patters display
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *
end of program

In [46]:
list(range(1,6,1))

[1, 2, 3, 4, 5]

In [55]:
print('Write a program to display the pattern of stars given as follows:')

num=1
x=num

for i in range(1,6,1):
    num=num+1;
    for j in range(1,num,1):
        print('*', end = " ")
        x=num+1
    print()
print('end of the program')

Write a program to display the pattern of stars given as follows:
*
* *
* * *
* * * *
* * * * *
end of the program

In [62]:
rows=5
for i in range(rows+1):
    for j in range(i):
        print(i, end='   ')
    print('')

1
2   2
3   3   3
4   4   4   4
5   5   5   5   5

In [73]:
for i in range(4):
    for j in range(i+1):
        print('Python', end ='    ')
    print()

Python
Python    Python
Python    Python    Python
Python    Python    Python    Python

In [76]:
n=int(input("Please enter number of rows:"))

for i in range(n):
    for j in range(n-i):
        print('Python', end ='    ')
    print()

Please enter number of rows:4
Python    Python    Python    Python
Python    Python    Python
Python    Python
Python

In [81]:
for i in range(1,6,1):
    for j in range(i):
        print(i, end = '  ')
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [109]:
for i in range(1,8,1):
    for j in range(i+1):
        print(j, end = ' ')
    print()
for i in range(1, 7,1):
    for j in range(7-i):
        print(j, end = ' ')

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 0 1 2 3 4 0 1 2 3 0 1 2 0 1 0

In [151]:
for i in range(5):
    for j in range(i+1):
        print(j, end = ' ')
    print()
for i in range(4):
    for j in range(4-i):
        print(j, end = ' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

for i in range(5):
    for j in range(i+1):
        print(j, end = ' ')
    print()
for i in range(4):
    for j in range(4-i):
        print(j, end = ' ')
    print()

# Break use in while and For Loop

In [165]:
for i in list(range(1,100)):
    if (i==11):
        break
    else:
        print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [173]:
# check if the number entered is prime or not

num=int(input("please enter the number:"))

x = num

for i in range (2,num):
    if num%i==0:
        flag=0
        break
    else:
        flag=1
if flag==1:
    print(num, 'is prime')
else:
    print(num, 'is not prime')

please enter the number:11
11 is prime

In [177]:
num=int(input("please enter the number:"))

list(range(2,num))

please enter the number:10

[2, 3, 4, 5, 6, 7, 8, 9]

# the continue statement

In [187]:
for i in range(1,11,1):
    if i==5:
        continue
    print(i, end=' ')

1 2 3 4 6 7 8 9 10

In [184]:
n=10

while n<=5:
    continue
else:
    print("Hey")

Hey

In [198]:
count = 35

for x in range(0,10):
    count=count - 1
    if x==2:
        break
print(count)

32

In [207]:
z=1

while z<5:
    if z%7==0:
        break
    z=z+2
print(z)

5

In [206]:
1%7

1

In [208]:
x= "I Love Python"

count = 0

for char in x:
    if char=='o':
        continue
    else:
        count=count + 1
print(count)

11

In [209]:
x= "I Love Python"

count = 0

for char in x:
    if char=='E':
        break
    else:
        count=count + 1
print(count)

13

In [8]:
i = 1
for x in range(1,4):
    for y in range(1,3):
        i = i + (i*1)
print(i)

64

In [214]:
i = 1

while i<5:
    j=1
    while j<5:
        print(j, end =' ')
        j=j+1
    i=i+1

1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4

In [4]:
# BREAK

i=1

while i<=5:
    if i==3:
        break
    print(i)
    i=i+1

1
2

In [6]:
    
# CONTINUE
i = 0

while i<=5:
    i = i + 1
    if i ==3:
        continue
    print(i)

1
2
4
5
6

In [9]:
i = 1
for x in range(1,4):
    for y in range(1,3):
        i = i + (i*1)
print(i)

64